<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="../angular-1.5.3.min.js"></script>
    <script src="../underscore.min.js"></script>
    <script src="todo.min.js"></script>
    <link rel="stylesheet" href="../bootstrap.min.css">
    <link rel="stylesheet" href="style.min.css">
</head>
<body>
<h2>Todo</h2>
<div ng-controller="TodoListController as todoList">
    <span>{{todoList.count()}} of {{todoList.todos.length}} remaining</span>
    <ul class="unstyled">
        <li ng-repeat="todo in todoList.todos">
            <label class="checkbox">
                <input type="checkbox" ng-model="todo.done">
                <span class="done-{{todo.done}}">{{todo.text}}</span>
            </label>
        </li>
    </ul>
    <form ng-submit="todoList.addTodo()">
        <input type="text" ng-model="todoList.todoText"  size="30"
               placeholder="add new todo here">
        <input class="btn-primary glyphicon glyphicon-plus" type="submit" value="add">
    </form>

    <a href="" ng-click="todoList.clear()">archive</a>
</div>
</body>
</html>